@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Este es un proyecto de prueba construido con ASP.NET Core 5.0, SQL SERVER 2019 y Docker.</p>
</div>
